<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Book App</title>
</head>
<body>
    <header>
<h2>Best Books!</h2>
<nav>
    <a href="/SearchResults">Search Results</a>
    <a href="/new">Search by Title or Author</a>
    
</nav>

    </header>
    <main class="wrapper">
        <section class="result">
        <p>you have <%= items.length %> </p>
       <% items.forEach(book=>{ %>
            <dive>
                    
                <h3><%= book.bookname %></h3>
                <img src="<%= book.bookimageurl %>" alt="">
                <p><%= book.bookauther %></p> 
             
                <form action="/addbook/<%= book.id %> ">
                    <button>Sho detail</button>
                </form>
            </dive>
            <%  }) %>
        </section>
    </main>
    
</body>
</html>