<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
    </head>
    <body>
    <header>
        <h2>Best Books!</h2>
        <nav>
            <a href="/SearchResults">Search Results</a>
            <a href="/new">Search by Title or Author</a> 
        </nav>
        </header>
    <main>
    
        <section class="result">
       
            
            <% books.forEach(book=>{ %>
            <dive >
            <form action="/addbook" method="POST">                 
                <h3><%= book.bookName %></h3>
                <input type="hidden" name="title" value="<%= book.bookName %> ">
                <img src="<%= book.bookImageurl %>" alt="">
                <input type="hidden" name="image" value="<%= book.bookImageurl %> ">
                <p><%= book.bookAuther %></p> 
                <input type="hidden" name="author" value="<%= book.bookAuther %> ">
                <p><%= book.bookPublisher %></p>
                <input type="hidden" name="publisher" value="<%= book.bookPublisher %> ">
                <p><%= book.publishDate %></p> 
                <input type="hidden" name="Pdate" value="<%= book.publishDate %> ">
                <p><%= book.bookDescription %></p>
                <input type="hidden" name="description" value="<%= book.bookDescription %> "> 
                <button type="submit">Select this book</button>  
                </form>                                         
            </dive>
            <%  }) %>
            
      
        </section>
    </main>
    </body>
</html>